@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800);
.App {
  text-align: center;

}
#start-btn{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  color:white;
  width: 250px;
  height: 40px;
  background: #303846;
  border: 1px solid #ACF2FA;
  border-radius: 23px;
}

.GenerateQuote{
  margin-top: 100px;
  margin-bottom: 100px;
}
.GeneratedQuotes{
  font-family: 'Dosis';
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 25px;
}

#request-btn{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  color:white;
  width: 250px;
  height: 40px;
  background: #303846;
  border: 1px solid #ACF2FA;
  border-radius: 23px;
}
#clear-btn{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  color:white;
  width: 250px;
  height: 40px;
  background: #303846;
  border: 1px solid #ACF2FA;
  border-radius: 23px;
  margin-left: 25px;
}